<mat-card>

    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button mat-list-item id="home" routerLink="/admin"><mat-icon mat-list-icon>home</mat-icon> &nbsp;Home </button>
        <button mat-list-item id="profile" routerLink="/admin/profile" > <mat-icon mat-list-icon >account_circle</mat-icon>&nbsp; Profile  </button>
        <button mat-list-item id="manage" routerLink="/admin/manage"><mat-icon mat-list-icon>manage_accounts</mat-icon>&nbsp; Manage </button>
      </mat-action-list>
</mat-card>
<br>