<mat-card>

    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button mat-list-item id="explore" routerLink="/user"><mat-icon mat-list-icon>explore</mat-icon> &nbsp;Explore </button>
        <button mat-list-item id="profile" routerLink="/user/profile" > <mat-icon mat-list-icon >account_circle</mat-icon>&nbsp; Profile  </button>
        <button mat-list-item id="cart" routerLink="/user/cart"><mat-icon mat-list-icon>shopping_cart</mat-icon >&nbsp;Cart  </button>
        <button mat-list-item id="orders" routerLink="/user/orders"><mat-icon mat-list-icon>summarize</mat-icon >&nbsp;Your Orders  </button>
      </mat-action-list>
</mat-card>
<br>