<div class="about">
    <img src="../../assets/images/contact.jpg" alt="">
    <div class="content" style="text-align: center;">
        <div>Contact Us</div> <br><br>
        <div>For any kind of questions</div><br>
        <div> feel free to get in touch at care@medicare.com</div>
    </div>
</div>

<br>

<div class="bootstrap-wrapper">
    <div class="row" style="margin-left: 15px;margin-right: 15px;">
        <div class="col-md-6 offset-md-3">
            <mat-card>
                <mat-card-content style="padding-left: 40px; padding-top: 30px; padding-bottom: 30px;">
                    <h2><b>Mail us at : </b>care@medicare.com</h2>
                    <h2><b>Our location : </b><br><br>
                        Postal Address: <br>
                        Registered Address <br>
                        XXXX Mall,<br>
                        Sector B, Basant Nagar,
                        New Delhi-110095 <br><br>
                        Corporate Address: <br>
                        5th Floor Tower <br> – B of The Medical Building,<br>
                        46/4 XXXXX XXXX Road, Sector XX,<br>
                        Haryana-122091, India</h2>

                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div><br>
<hr>