<div class="about">
    <img src="../../assets/images/about.jpg" alt="">
    <div class="content" style="text-align: center;">
        <div>We make healthcare</div> <br><br>
        <div>Understandable, Accessible and Affordable</div>
    </div>
</div>
<br>
<div class="text-center " style="color: cornsilk;">

    <h1><b> About Us</b></h1>
    <h1>India’s leading digital consumer healthcare platform</h1>
    <br><br>
    <div class="bootstrap-wrapper">
        <div class="container">
        <div class=" row" style="margin-top: 20px;">
            
            <div class="col-md-4" style="margin-top: 20px;">
                <mat-icon mat-list-icon>healing</mat-icon> 
                <h2><b> E-Pharmacy</b></h2>
                <h2>Order medicines and health products online and get it delivered
                    at home from licensed pharmacies</h2>
            </div>
            <div class="col-md-4" style="margin-top: 20px;">
                <mat-icon mat-list-icon>mark_email_read</mat-icon> 
                <h2><b> Online Consultations</b></h2>
                <h2>Consult qualified and registered doctors on chat for free</h2>
            </div>
            <div class="col-md-4" style="margin-top: 20px;">
                <mat-icon mat-list-icon>science</mat-icon> 

                <h2><b>Labs Tests</b></h2>
                <h2>Book lab tests online for hassle-free,
                    home sample collection service.
                    Get reports online.
                    </h2>
            </div>
        </div>
        <br>
        <small>*For booking and getting information about doctors contact at 9911-XXX-XXX</small>
        </div>
    </div>
    <br><br><br>
</div>
<hr>