<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a routerLink="/aboutUs">
      <img src="../../../assets/images/it2pb6w2psqs0mi6emub.png" class="d-block w-100" alt="..."></a>
    </div>
    <div class="carousel-item">
      <a routerLink="/aboutUs">
      <img src="../../../assets/images/q94c062ubrtjtuokb8kl.png" class="d-block w-100" alt="..."></a>
    </div>
   
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br><br>
<mat-card  style="margin-top: 15px;">
  <mat-action-list>
    <button mat-list-item (click)="openDialog()">
      <mat-icon mat-list-icon>add</mat-icon> Add product
    </button>
  </mat-action-list>
  <br><br>
  <button mat-raised-button color="primary" [(disabled)]="disDate" style="margin-right: 10px;" (click)="date()">
    Sort by Date (default)
  </button>
  <button name="sortByPrice" mat-raised-button color="primary" style="margin-right: 10px;" [(disabled)]="disPrice" (click)="price()">
    Sort by Unit price
  </button>
  <button  mat-raised-button color="primary" style="margin-top: 10px;" [(disabled)]="disName" (click)="name()">
    Sort by Name
  </button>
  
  <br><br>
  Filter by : <br>
  <span *ngFor="let category of categories" style="margin-top: 10px;">
    <button mat-raised-button color="accent" style="margin-right: 10px; margin-bottom: 10px;"
      (click)="byCategory(category)">{{category}}</button>
  </span>
  <br>
  <button mat-raised-button color="warn" style="margin-top: 10px;" (click)="showAll()" [(disabled)]="allProducts">
    All Products
  </button>
  <div class="bootstrap-wrapper" style="margin-top: 20px;">
    <div class="container-fluid">
      <div align="end">
        <mat-form-field class="example-full-width" style="margin-right: 20px;">
          <mat-label>Search by product name</mat-label>
          <input matInput [(ngModel)]="search" (keyup)="searchBy()">
        </mat-form-field>
      </div>
    </div>
  </div>
  <!-- products view -->
  <mat-progress-bar [hidden]="!loading" mode="indeterminate" color="accent"></mat-progress-bar>  

  <div class="d-flex flex-wrap justify-content-center">
    <div *ngFor="let product of products">
      <mat-card [hidden]="!product.visibilty" class="example-card" style="margin: 10px;">
        <mat-card-header>
          <mat-card-title>{{product.name}}</mat-card-title>
        </mat-card-header>
        <img [src]="product.imageURL" alt="image">
        <mat-card-content align="end">

          <h2>&#8377; {{product.price}}</h2>
          
        </mat-card-content>
        
          <!-- <mat-icon mat-list-icon class="editIcon">edit</mat-icon> -->
          <button mat-raised-button color="primary" routerLink="/admin/manage/product/{{product.id}}" style="margin-right: 10px;">
            edit
          </button>
          
          <button mat-raised-button color="warn" (click)="delete(product.id)">delete</button><br><br>
          
          <mat-slide-toggle [(checked)]="product.active" (click)="active(product.id)"></mat-slide-toggle>

       
      </mat-card>

    </div>
  </div>



  <!-- products view end -->
  <br>
</mat-card>
<br>