<mat-card>
    <div class="bootstrap-wrapper">
        <div class="container-fluid">
            <hr>
            <mat-card>
                <b>Name : </b>{{user.name}} <br> <br>
                <b>Email : </b>{{user.email}} <br> <br>
                <b>Username : </b>{{user.username}} <br> <br>
                <b>Role : </b>{{user.role}} <br><br>
                <b>Address : </b>{{user.address}} <br> <br>
            </mat-card><br>
            <small>*You can change your address in your cart while placing order.</small>

    </div></div>
</mat-card>
<br><hr>
