.mat-card img{    
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit:cover;
    border:5px solid lightcoral;
  }

  textarea{
    width: 100%;
  }

  .scroll{
    height: 120px;
    overflow: scroll;
  }