<div class="bootstrap-wrapper mt-20">
    <div class="row">
        <div class="col-lg-9">
            <mat-card>
                <h1 name="cart" mat-subheader> <b> Your Cart</b></h1>
                <hr><br>
                <div *ngFor="let product of products">
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <img [src]="product.imageURL" alt="image">
                        </div>
                        <div class="col-md-9">
                            <mat-card>
                                <div align="end">
                                    <mat-icon style="color: red; cursor: pointer;" (click)="remove(product.id)"
                                        mat-list-icon>highlight_off</mat-icon>
                                </div>

                                <h4>Name : {{product.name}}</h4>
                                <h4>Category : {{product.category}}</h4>
                                <h4>Price : &#8377; {{product.price}}</h4>
                                <h4>Quantity : {{product.quantity}} available</h4>
                            </mat-card>
                        </div>
                    </div>
                    <hr>
                </div>
            </mat-card><br>
        </div>
        <div class="col-lg-3 ">

            <mat-card>
                Price ( {{cartLength}} items )<br>
                <hr>
                <span align="start">
                    Total Amount :
                </span>
                <span align="end">
                    &#8377; {{totalAmount}}
                </span>
                <br><br>
                <div class="container-fluid" align="end">
                    <button mat-stroked-button color="primary" [disabled]="totalAmount==0" (click)="placeOrder()">Place
                        Order</button>
                </div>
            </mat-card>
            <br>
            <mat-card>
                <div class="text-center">
                    <form [formGroup]="address" (ngSubmit)="changeAddress()">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Address</mat-label>
                            <textarea rows="5" formControlName="add" matInput required></textarea>

                        </mat-form-field><br>
                        <button mat-stroked-button color="warn" type="submit">Change address</button><br>
                    </form>
                </div>
            </mat-card>
            <small style="color: red;"> *Our delivery boy will contact you for address confirmation before dispatching
                the items.</small>

        </div>
    </div>
</div>