.mr-3{
    margin-right: 30px;
}

.text-center{
    text-align: center;
}
.example-spacer {
    flex: 1 1 auto;
  }

  mat-drawer-container{
      height:100%;
    
  }
  mat-drawer,mat-drawer-content{
      padding:16px;
  }

  mat-drawer{
      background-color: lightcoral;
      color:white;
  }
  mat-toolbar img{
    height: 25px;
  }
.icons{
    width: 35%;
    margin-left: 150px;
}
.nodeco{
    text-decoration: none;
    color: white;
}
.jumbotron{
    font-family: 'Pattaya', sans-serif;
    border-bottom: 2px solid white;
    background-color: #e91e63;
}

footer{
    background-color: black;
        cursor: pointer;
}

.logo{
    width: 20%;
}
.download{
    width: 130px;
}

.titles{
    margin-top: 30px;
}

.titles:hover{
    border-bottom: 2px solid maroon;
}
.fab{
    margin-left: 10px;
}
.fa-facebook-square{
    color: #3b5998
    ;
}
.fa-twitter-square{
    color: #00acee;
}
.fa-instagram{
    color: #8a3ab9;
}
.fa-linkedin{
    color: #0077b5;
}